{% extends 'base.html' %}
{% block content %}
<div>
    <h3 class="text-primary">Mission Us</h3>
    
    <p class="text-break fs-5 fst-italic">“To provide quality and affordable healthcare services for the benefit of all stakeholders, with the objectives of ameliorating suffering and uplifting of society we serve.”Rajagiri Hospital, established in 2014 was a thoughtful initiative from the renowned Rajagiri (CMI) group of institutions to offer quality and affordable medical care to the common man.
    The legacy of Rajagiri in pioneering a distinctive culture in the educational sector has helped them carve an exemplary medical institution in Kerala. The hospital is well laid out in a 40 acre green landscape in the serene setting of Chunangamvely, Aluva and is the closest facility to the Cochin International Airport.
</p>
<h3 class="text-primary">Vision</h3>
<p class="text-break fs-5 fst-italic">
    “Our vision is to become the most reputed hospital and medical education institution of the State, providing service with compassion and clinical excellence.”
    The synergy of western medicine and Ayurveda, offers the patients a holistic healing experience. Integrating telehealth technology to its service spectrum, Rajagiri Hospital has paved the way to reach out to patients beyond borders. Today, the Hospital has grown to be the first choice among the domestic and international patients for their healthcare needs.
    The synergy of western medicine and Ayurveda, offers the patients a holistic healing experience. Integrating telehealth technology to its service spectrum, Rajagiri Hospital has paved the way to reach out to patients beyond borders. Today, the Hospital has grown to be the first choice among the domestic and international patients for their healthcare needs.</p>
</div>

{% endblock %}