{% extends 'base.html' %}
{% block content %}

    <div class="container d-flex justify-content-around">
        <form action="" method="post" enctype="multipart/form-data" class="bg-white  w-75 rounded-3">
            {% csrf_token %}
            <p class="fw-bold fs-4 ">Create Profile</p>
            <hr class="mb-1 w-25 border-4">
            <div class=" row">
    
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Name
                    :</label><input type="text" name="name" class="form-control"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Address
                        :</label><input type="text" name="address" class="form-control"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Age
                        :</label><input type="text" name="age" class="form-control"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Contact
                        :</label><input type="text" name="contact" class="form-control"></div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4">
                            <label for="id_category" >Gender :</label>
                            <select class="form-select" name="gender" id="id_category">
                                
                               
                                <option value selected>------</option>
                                <option value="{{form.gender}}"></option>
                                
                                
                            </select>
                        </div>
            
    
                <div class="col-lg-6 col-md-6 col-sm-12 col-12 mt-4"><label class="" for="">Email
                        :</label><input type="email" name="email" class="form-control"></div>

    
               
                <div class="text-center">
                    <button type="submit" class="btn btn-dark mt-4 mb-4 w-50">Create Profile</button>
                    <br>
                </div>


            </div>
        </form>
    </div>

  



{% endblock %}

